ANTHROPIC_API_KEY=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
SUPABASE_URL=https://miedifclpqewnixxkahs.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pZWRpZmNscHFld25peHhrYWhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMDIxMjYsImV4cCI6MjA5MTY3ODEyNn0.Is-E-4aEbflwqVc3OnDDFh51n8Duaav1ok_F1MyAmFc
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pZWRpZmNscHFld25peHhrYWhzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjEwMjEyNiwiZXhwIjoyMDkxNjc4MTI2fQ.Ghv8mlTW5CAY1oAjaLpla3pm7-wGi9XSn6Nve3c6-KA
STRIPE_SECRET_KEY=sk_test_51TLobiPt4YtxLFZCfV4elbTcN2Qy9VKcoV9gnmthzgmZLDlRsVGUb8jspJUhkvtIFnzfdDxphvMxo3ZajwBTE9Yq00didgmJA4
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=pk_test_51TLobiPt4YtxLFZCkkXAKEGEBlCVFUuMcG0vS5kPu1UOLusVpUZvQDXc2UDDXe7lrgZhucrB4zw47zKpQy17VjGe00LwuyvTov
STRIPE_RESTRICTED_KEY=rk_test_51TLobiPt4YtxLFZChSbBkiaomavtzQeXufbQYUIeHOKOVGgCSOqGKdKvg2Q5PUfDEziZ3kfjHznpYtLSAnNM0hUc00qe47Pkvf
STRIPE_PRICE_SMALL=price_xxx
STRIPE_PRICE_MEDIUM=price_xxx
STRIPE_PRICE_LARGE=price_xxx
STRIPE_SUBSCRIPTION_PRICE_ID=price_xxx
API_KEY=
ENVIRONMENT=development
EXPO_PUSH_TOKEN_TABLE=push_tokens
